/* the 100vh and 100vw set the size of the body to fill the viewport (screen) */
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  margin: 0;
}
.left-side {
  height: 100%;
  width: 30%;
  display: block;
}
.right-side {
  height: 100%;
  width: 80%;
}

/* build your layout */
.top-row {
  height: 100%;
  width: 100%;
  display: block;
}
.top-row2 {
  height: 70%;
  width: 100%;
  display: flex;
}

.square {
  height: calc(100% / 6);
  width: 100%;
}

/* this will make ALL <img> elements at most 100% of their PARENT! */
img {
  max-height: 100%;
  max-width: 100%;
}
/* this class goes on the PARENT div of the image! */
.center-content {
  justify-content: center;
  align-items: center;
  display: flex;
}
.translucent {
  opacity: 0.5;
}

/* colors to see divs */
.red {
  background-color: rgb(0, 0, 0);
}
.green {
  background-color: #000000;
}
.orange {
  background-color: orange;
}
.gold {
  background-color: rgb(0, 0, 0);
}
.yellow {
  background-color: rgb(0, 0, 0);
}
.black {
  background-color: black;
}
.slate {
  background-color: rgb(0, 0, 0);
}
.dark-grey {
  background-color: #000000;
}
.light-grey {
  background-color: #000000;
}
.blue {
  background-color: rgb(0, 0, 0);
}

/* enhance the UX */
/*
img:hover {
  cursor: pointer;
}
img:active {
  transform: scale(0.95);
}
*/
